// color
$w: white;
$b: black;

// bg
$review-bg: #f3e0bc;

// fonts
$SansPro: "Source Sans Pro", "Arial", sans-serif;

// @media
$media-dt: 1024px;
$media-tb: 768px;
$media-mb: 320px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

